{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <form action="" id="users" method="POST">
      <div class="col-xs-8">

        {{form.hidden_tag()}}
        <table class="table table-hover">
	  <tr>
		<td> </td><td>Имя</td><td>email</td><td>role</td>
	  </tr>
          {% for user in form.users %}
          <tr>
            <td><input type="checkbox" name="users_action" value="{{ user.username }}"></td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
          </tr>
         {% endfor %}
        </table>
      </div>
      <div class="col-xs-4">
          <p>{{form.add_button(class="btn btn-lg btn-primary")}}</p>
          <p>{{form.delete_button(class="btn btn-lg btn-primary")}}</p>
          <p>{{form.edit_button(class="btn btn-lg btn-primary")}}</p>
      </div>

    </form>
  </div>
</div>
{% endblock %}
