<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

  <div class="row">
    <div class="col-lg-8">
      <p>Данная система предназначена для информирования совета директоров (комитета совета директоров по аудиту) и подразделения внутреннего аудита о фактах нарушений законодательства,
         внутренних процедур, кодекса этики общества любым его работником и (или) любым членом органа управления или органа контроля за финансово-хозяйственной деятельностью общества.</p>
      <p>Если вы намерены сообщить о нарушении, нажмите на ссылку &quot;Сообщение&quot;.</p>
      <p>Если вы уполномоченный сотрудник Банка, нажмите на ссылку &quot;Вход&quot;.</p>
    </div>


    <div class="col-lg-4">
      <p><a href="/message" class="btn btn-default btn-lg">Сообщение</a> </p>
      <p><a href="/login" class="btn btn-default btn-lg">Вход</a> </p>
   </div>
  </div>

{% endblock %}

