<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <p>Кратко сформулируйте тему вашего обращения, которую необходимо указать в заголовке. Само обращение можно разместить в поле &quot;Сообщение&quot;, если его длина не превышает
       2200 символов. Так же вы можете сопроводить своё обращение дополнительными материалами, записанными в zip-архив. Не забудьте представиться и заполнить поля &quot;Email&quot; и/или
       &quot;Телефон&quot;, чтобы ответственный сотрудник мог связаться с вами для уточнения деталей. 
    </p>
    <p>Обратите внимание, что после нажатия на кнопку &quot;Отправить&quot;, вы перейдёте на страницу с отображением номера вашего сообщения. Пожалуйста, запомните или запишите этот номер,
       т.к. с помощью него вы сможете идентифицировать обратившегося к вам сотрудника.
    </p>
  </div>
</div>

<div class="row">
  <form action="" method="post" name="message" role="form" class="form-horizontal" enctype=multipart/form-data>
    {{form.hidden_tag()}}
    {{form.title.label(class="control-label col-lg-2")}}
      <div class="col-lg-9"> {{form.title(autofocus=true, class="form-control", placeholder="Введите заголовок сообщения")}} </div>
    {{form.email.label(class="control-label col-lg-2")}}
      <div class="col-lg-9"> {{form.email(type="email", class="form-control", placeholder="Укажите адрес электронной почты")}} </div>
    {{form.telephone.label(class="control-label col-lg-2")}}
      <div class="col-lg-9"> {{form.telephone(type="tel", class="form-control", placeholder="Укажите номер телефона цифрами")}} </div>
    {{form.message.label(class="control-label col-lg-2")}}
      <div class="col-lg-9"> {{form.message(rows=10, class="form-control", placeholder="Введите сообщение")}} </div>
    {{form.archive.label(class="control-label col-lg-2")}}
      <div class="col-lg-9">
        <input class="form-control" id="archive" name="archive" title="Загрузить zip-архив" type="file" data-filename-placement="inside">
      </div>
    {{form.recaptcha.label(class="control-label col-lg-2")}}
<!--
      <label class="control-label col-lg-2" for="recaptcha">Captcha:</label>
-->
      <div class="col-lg-9"> {{form.recaptcha(class="form-control")}} </div>
      <div class="col-lg-offset-2 col-lg-2">
        {{form.send_button(class="btn btn-lg btn-primary form-control")}}
      </div>
  </form>
</div>

<script src="/static/js/bootstrap.file-input.min.js"></script>
<script>$(document).ready(function(){$('input[type=file]').bootstrapFileInput();});</script>
{% endblock %}

<!--
      </div>
    <div class=form-group">
-->
