<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

  <div class="row">
    <div class="col-lg-8">
      <p>Спасибо, ваше сообщение было зарегистрированно в базе данных под номером <b>{{ ticket }}</b>.
         Пожалуйста, запомните или запишите данный номер, ответственный сотрудник может связаться с вами для уточнения деталей.
         В качестве подтверждения он должен будет назвать номер вашего сообщения.
      </p>
    </div>
    <div class="col-lg-4">
      <p><a href="/index" class="btn btn-default btn-lg">На главную</a> </p>
   </div>
  </div>

{% endblock %}

